:root {
	--color-green: rgb(0, 71, 53);
	--color-orange: rgb(255, 171, 13);
	--color-white: rgb(255, 255, 255);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Georgia, serif;
	font-size: 16px;
	color: var(--color-white);
	background: var(--color-white);
}

.step {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 90vw;
	height: 90vh;
	aspect-ratio: 16 / 9;
	margin: 0;
	padding: 0;
	background: var(--color-green);
	border-radius: 16px;
}

.step:first-child {
	background: none;
}

.step-e {
	border-right: 32px solid var(--color-orange);
}

#overview {
	width: 100%;
	height: 100%;
}

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	font-size: 12rem;
	font-weight: normal;
	color: var(--color-green);
	text-align: center;
	line-height: 150%;
}

h2 {
	flex: none;
	display: flex;
	flex-flow: row nowrap;
	align-items: end;
	justify-content: start;
	margin: 0;
	padding: 0;
	width: 90%;
	height: 15rem;
	font-size: 6rem;
	font-weight: normal;
	text-align: center;
	line-height: 100%;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.list-v {
	position: relative;
	flex: auto;
	flex-flow: column nowrap;
	align-items: start;
	width: 75%;
	font-size: 4rem;
	font-weight: normal;
	text-align: center;
	line-height: 150%;
}

.list-v li {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: start;
}

.list-v li::before {
	position: absolute;
	left: -8rem;
	display: block;
	width: 6rem;
	height: 6rem;
}

.li-age::before {
	content: url(img/icon_age.svg);
}

.li-route::before {
	content: url(img/icon_map.svg);
}

.li-task::before {
	content: url(img/icon_task.svg);
}

.list-h {
	flex-flow: row wrap;
	align-items: center;
	width: 80%;
}

.list-h li {
	width: 18rem;
	height: 18rem;
	margin: 32px;
	padding: 32px;
	background: var(--color-white);
	border-radius: 50%;
}

.list-c {
	list-style-type: none;
	flex: auto;
	flex-flow: column nowrap;
	align-items: center;
	font-size: 6rem;
	line-height: 200%;
}

iframe {
	width: 90vw;
	height: 90vh;
	border: none;
	border-radius: 16px;
}

img {
	display: block;
}

.img-w3w {
	flex: none;
	margin: 64px;
	padding: 32px;
	width: 60%;
	height: auto;
	background: var(--color-white);
	border-radius: 16px;
}

.img-qr {
	flex: none;
	margin: 32px;
	padding: 32px;
	width: auto;
	height: 24rem;
	background: var(--color-white);
	border-radius: 16px;
}

figcaption {
	flex: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 9rem;
	font-size: 3rem;
}

p {
	font-size: 6rem;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--color-orange);
}